@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  justify-content: space-between;
  padding: 1rem;
  display: flex;
  background-color: var(--secondary-color);
}

middle{
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.switch {
  width: 50px;
  height: 50px;
  position: relative;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  font-family: inherit;
  padding: 0.5rem 0.5rem;
  outline: none;
  margin-right: 5%;
}
.switch:hover{
  background-color: var(--primary-color);
}

.search {
  width: 96%;
  position: relative;
  right: 6%;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  margin-left: 5%;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}


.tvshow {
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}


.movie img {
  width: 100%;
  transition: all 0.3s ease-in;
}

.tvshow img {
  width: 100%;
  transition: all 0.3s ease-in;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.releaseDate{
  position: absolute;
  top: 4px;
  left: 4px;
  color: white;
  font-weight: bold;
  font-family: inherit;
  padding: 0.25rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.63);
  border-radius: 3px;
  z-index: 1;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}
.overview::-webkit-scrollbar{
  display: none;
}

.overview .overview-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  line-clamp: 10; 
  -webkit-box-orient: vertical;
}

.movie:hover img, .tvshow:hover img {
  filter: brightness(0.5);
}

.movie:hover .overview {
  transform: translateY(0);
}

.tvshow:hover .overview {
  transform: translateY(0);
}




.pagination{
  display: flex;
  justify-content: center;
  margin: 10px 20px;
  align-items: center;
  color: white;

}

.page{
  padding: 10px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
}
.page:hover{
  background-color: var(--secondary-color);
  border-radius: 20px;
}

.disabled{
  cursor: not-allowed;
  color: grey;
}

.knowmore{
  color: white;
  font-weight: bold;
  font-size: 14px;
  background-color: var(--secondary-color);
  border-radius: 50px;
  border: none;
  margin: 5px;
  padding: 15px 20px;
  display: inline-block;
  cursor: pointer;
}

.knowmore:hover{
  background-color: var(--primary-color);
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 15%; /* 25% from the top */
  width: auto !important; /* 100% width */
  height: auto !important;
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


.embed.hide{
  display: none;
}

.embed.show{
  display: inline-block;
} 

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scrollable-tabs-container:hover{
  cursor: pointer;
}






.scrollable-tabs-container{
  max-width: 100%;
  margin: 16px auto;
  border-radius: 5px;
  overflow: hidden;
  position: relative;

}

.scrollable-tabs-container svg{
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  color: white;
  border-radius: 50%;
  pointer-events: auto;

}

#tags{
  display: flex;
  gap: 16px;
  padding: 12px 24px;
  margin: 0;
  list-style: none;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
#tags.dragging{
  scroll-behavior: auto;
}
/* .scrollable-tabs-container ul.dragging a{
  pointer-events: none;
} */

#tags::-webkit-scrollbar{
  display: none;
}


.scrollable-tabs-container .tag {
  color: white;
  text-decoration: none;
  background: var(--secondary-color);
  padding: 4px 24px;
  display: inline-block;
  border-radius: 4px;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
}

.scrollable-tabs-container .tag.active{
  background-color: rgba(255, 255, 255, 0.508);
  font-weight: bold;
  color: rgba(0, 0, 0, 0.757);

}

.scrollable-tabs-container .right-arrow,
.scrollable-tabs-container .left-arrow{
  position: absolute;
  height: 100%;
  width: 100px;
  top: 0;
  display: none;
  align-items: center;
  padding: 0 10px;
  pointer-events: none;

}
.scrollable-tabs-container .right-arrow.active,
.scrollable-tabs-container .left-arrow.active{
  display: flex;
}

.scrollable-tabs-container .right-arrow{
  right: 0;
  justify-content: flex-end;
  background: linear-gradient(to left, #22254b 50%, transparent);
}

.scrollable-tabs-container .left-arrow{
  background: linear-gradient(to right, #22254b  50%, transparent);
}


.scrollable-tabs-container svg:hover{
  background: var(--secondary-color);
}
